@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #151312;
		--foreground: #ffffff;
		--primary: #f46c38;
		--primary-foreground: #ffffff;
		--secondary: #c5ff41;
		--secondary-foreground: #42383c;
		--muted: #998f8f;
		--muted-foreground: #454346;
	}

	.dark {
		--background: #1b1c22;
		--foreground: #afbdd5;
		--primary: #b11616;
		--primary-foreground: #afbdd5;
		--secondary: #aebcd6;
		--secondary-foreground: #afbdd5;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
	/*   
  header {
    @apply bg-primary text-primary-foreground;
  } */
}

.prose {
	@apply text-foreground;
}

.prose h2 {
	@apply text-primary;
}

.prose code {
	@apply text-secondary; /* todo look into code highlight */
}
