@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: #fff;
      --foreground: #03045e;
      --primary: #03045e;
      --primary-foreground: #ffffff;
      --secondary: #293852;
      --secondary-foreground: #2A3850;
    }
  
    .dark {
      --background: #1B1C22;
      --foreground: #AFBDD5;
      --primary: #B11616;
      --primary-foreground: #AFBDD5;
      --secondary: #AEBCD6;
      --secondary-foreground: #AFBDD5;
      
    }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
/*   
  header {
    @apply bg-primary text-primary-foreground;
  } */

}